body{margin:0;background:#53bc94}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?9yug7q');
    src: url('../fonts/icomoon.eot?9yug7q#iefix') format('embedded-opentype'),url('../fonts/icomoon.ttf?9yug7q') format('truetype'),url('../fonts/icomoon.woff?9yug7q') format('woff'),url('../fonts/icomoon.svg?9yug7q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],[class*=" icon-"] {
    font-family: 'icomoon'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar-track  
{  
    border-radius: 10px;  
}   
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    background-color:rgba(255,255,255,0.3);  
}  
.icon-instagram:before {
    content: "\e905";
}

.icon-trophy:before {
    content: "\e605";
}

.icon-office:before {
    content: "\e606";
}

.icon-clock:before {
    content: "\e60a";
}

.icon-reddit:before {
    content: "\e609";
}

.icon-telegram:before {
    content: "\e904";
}

.icon-flickr:before {
    content: "\f16e";
}

.icon-medium:before {
    content: "\f23a";
}

.icon-heart:before {
    content: "\f004";
}

.icon-book:before {
    content: "\f02d";
}

.icon-linkedin:before {
    content: "\f08c";
}

.icon-twitter:before {
    content: "\f099";
}

.icon-github:before {
    content: "\f09b";
}

.icon-link:before {
    content: "\f0c1";
}

.icon-bars:before {
    content: "\f0c9";
}

.icon-pinterest:before {
    content: "\f0d2";
}

.icon-googleplus:before {
    content: "\f0d5";
}

.icon-circle:before {
    content: "\f111";
}

.icon-code:before {
    content: "\f121";
}

.icon-youtube:before {
    content: "\f167";
}

.icon-stackoverflow:before {
    content: "\f16c";
}

.icon-bitbucket:before {
    content: "\f171";
}

.icon-tumblr:before {
    content: "\f173";
}

.icon-dribbble:before {
    content: "\f17d";
}

.icon-skype:before {
    content: "\f17e";
}

.icon-foursquare:before {
    content: "\f180";
}

.icon-gittip:before {
    content: "\f184";
}

.icon-gratipay:before {
    content: "\f184";
}

.icon-stackexchange:before {
    content: "\f18d";
}

.icon-vimeo:before {
    content: "\f194";
}

.icon-graduation-cap:before {
    content: "\f19d";
}

.icon-language:before {
    content: "\f1ab";
}

.icon-child:before {
    content: "\f1ae";
}

.icon-behance:before {
    content: "\f1b5";
}

.icon-spotify:before {
    content: "\f1bc";
}

.icon-soundcloud:before {
    content: "\f1be";
}

.icon-codepen:before {
    content: "\f1cb";
}

.icon-hackernews:before {
    content: "\f1d4";
}

.icon-lastfm:before {
    content: "\f202";
}

.icon-angellist:before {
    content: "\f209";
}

.icon-facebook:before {
    content: "\f230";
}

.icon-meetup .path1:before {
    content: "\e901";
    color: rgb(255,255,255);
}

.icon-meetup .path2:before {
    content: "\e902";
    margin-left: -1.5em;
    color: rgb(240,1,1);
}

.icon-meetup .path3:before {
    content: "\e903";
    margin-left: -1.5em;
    color: rgb(3,3,3);
}

.icon-blogger:before {
    content: "\e900";
}

.icon-exercism:before {
    content: "\e601";
}

.icon-profile:before {
    content: "\e600";
}

.icon-tools:before {
    content: "\e034";
}

.icon-location:before {
    content: "\e602";
}

.icon-mail:before {
    content: "\e603";
}

.icon-phone:before {
    content: "\e03f";
}

.icon-newspaper:before {
    content: "\e607";
}

.icon-dots-three-horizontal:before {
    content: "\e60b";
}

.icon-thumbs-up:before {
    content: "\e604";
}

.icon-chevron-down:before {
    content: "\e60c";
}

.icon-chevron-up:before {
    content: "\e60d";
}

.icon-dots-three-horizontal:before {
    content: "\e60b";
}

.icon-thumbs-up:before {
    content: "\e604";
}

.icon-board:before {
    content: "\e608";
}
html, body {
    height: 100%;
    font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.width-1000 {
    max-width: 1000px;
    box-sizing: border-box;
    padding: 4px 2px 0;
    margin: auto;
    min-height: 100%;
    background-color: #eaedec;
}
.full-layout {
    display: flex;
    display: -webkit-flex;
}
.full-layout .left{
    width: 300px;
}
.full-layout .right {
    flex: 1;
}
.card {
    margin: 2px;
    margin-top: 0px;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
}
.profile-card-photo {
    margin: 20px;
}
.profile-card-photo img {
    width: 100%;
}
.top .fs-lg {
    font-size: 14px;
}
.top .mobile-title{
    font-size: 16px;
    margin-left: 10px;
}
.user_info {
    padding: 20px 0;
}
.user_info h2 {
    text-align: center;
}
.user_info p {
    text-indent: 28px;
    margin: 0;
    text-align: left;
}
.card ul {
    margin-left: 0;
    padding-left: 20px;
}
.card ul li {
    list-style-type: circle;
    font-size: 14px;
    padding-bottom: 5px;
    text-align: justify;
    color: #707070;
}
.skill-targ {
    font-size: 14px;
    display: inline-block;
    background: #29c8cf;
    color: #fff;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 7px 2px;
    line-height: 1;
}
.card .content .header p {
    color: #29c8cf;
    font-size: 16px;
    margin: 0;
}
.card .content .header p.common-p {
    font-size: 14px;
    color: #333;
}